<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moodify</title>
</head>
<head>  
    <title>Moodify</title>
</head>
<body>
    <h1>Please login</h1>  
    <form method = "POST">
        <input type="text" name="username">
        <input type ="password" name="password">
        <input type ="submit">
    </form> 
    <h2>Otherwise, register for an account!</h2>
    <form action = "register">
        <button type = "submit">Register here!</button>
    </form>    
</body>
</html>